* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  height: 100vh-2 * 25px;
  background: #000;
  position: fixed;
  padding: 25px;
  top: 0; }
  body .meta {
    color: #888;
    font-size: 16.66667px;
    -webkit-transform: translateY(0.5em);
    -ms-transform: translateY(0.5em);
    transform: translateY(0.5em); }
  body #link {
    text-align: right;
    -webkit-transform: translateY(-100%) translateY(0.5em);
    -ms-transform: translateY(-100%) translateY(0.5em);
    transform: translateY(-100%) translateY(0.5em); }

main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: calc(100vw - 50px);
  border-radius: 12px; }

svg {
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
  width: 25px;
  height: 25px;
  fill: #888; }

nav .visible {
  pointer-events: all;
  opacity: 1;
  bottom: 15px; }

nav ul {
  position: absolute;
  color: #888;
  right: 30px;
  opacity: 0;
  overflow-y: scroll;
  bottom: -3px;
  pointer-events: none;
  list-style: none;
  transition: 0.7s all ease-in-out;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 400px; }

nav a {
  text-align: right;
  font-size: 1.5em;
  display: block;
  padding: .5em;
  text-decoration: none;
  color: #888; }
  nav a:hover {
    background: #343434; }

iframe {
  transition: 0.7s -webkit-transform ease-in-out;
  transition: 0.7s transform ease-in-out;
  transition: 0.7s transform ease-in-out, 0.7s -webkit-transform ease-in-out;
  border: 0;
  width: 88%;
  height: 88%; }
  iframe.squish {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85); }

main p {
  position: fixed;
  opacity: 1;
  right: 4.2em;
  bottom: 33px;
  color: #888;
  font-size: 16.66667px; }
