@import 'partials/config'
@import 'partials/functions'

@import 'partials/header'
@import 'partials/navigation'
body
  background: invert(contrast($main))
  font-family: $font

  > a
    text-decoration: none
    color: contrast($main)
    padding: .5em
    transform: scale(1.5)
    position: absolute
    top: .5em

main
  display: flex
  justify-content: center
  align-items: center
  height: 93vh

header
  box-shadow: none

iframe
  width: 88%
  height: 88%
  border: 0
  margin-top: -3em

::-webkit-scrollbar
  width: 0px
