@import 'partials/config'
@import 'partials/functions'

@import 'partials/header'
@import 'partials/navigation'
@import 'partials/media_query'

body
  background: $main
  font-family: $font
  overflow-x: hidden

  > a
    text-decoration: none
    color: contrast($main)
    padding: .5em
    position: absolute
    top: .5em

main
  display: flex
  justify-content: center
  align-items: center
  height: 93vh

header
  box-shadow: none
  margin-top: .3em

iframe
  width: 88%
  height: 88%
  border: 0
  margin-left: -3em

::-webkit-scrollbar
  width: 0px
