@import 'partials/config'
@import 'partials/functions'
@import 'partials/frame'
@import 'partials/navigation'

#about
  padding: .5em
  display: block
  @extend %meta
  bottom: 80px
  background: fade-out(black, 0.4)
  opacity: 0
  cursor: auto
  transition: 0.7s opacity ease-in-out
  width: 30vw
  z-index: 1
  &.visible
    opacity: 1
