$size: 25px
*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  height: calc(100vh - (2 * #{$size}))
  background: #000
  padding: $size
    top: 0
  position: fixed

  .meta
    color: #888
    font-size: (2/3)*$size
    transform: translateY(.5em)
    &#link
      text-align: right
      transform: translateY(-100%) translateY(.5em)
iframe
  border: 0
  width:88%
  height: 88%

main
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  width: calc(100vw - #{$size*2})
  border-radius: (floor($size/2))
  overflow-y: scroll


::-webkit-scrollbar
  width: 0

svg
  position: fixed
  bottom: 30px
  right: 30px
  transform: scaleY(-1)
  width: $size
  height: $size
  fill: #888
main p
  position: fixed
  opacity: 1
  right: 4.2em
  bottom: 33px
  color: #888
  font-size: (2/3)*$size


nav
  position: absolute
  color: #888
  right: 30px
  opacity: 0
  overflow: hidden
  bottom: -3px
  transition: 0.7s all
  pointer-events: none

  ul
    list-style: none
    display: flex
    flex: 1
    flex-direction: column
  a
    text-align: center
    display: block
    padding: .5em
    text-decoration: none
    color: #888
    &:hover
      background: #333

.visible
  pointer-events: all
  opacity: 1
  bottom: 15px
