@import 'partials/config'
@import 'partials/functions'
@import 'partials/header'
@import 'partials/navigation'
@import 'partials/grid'

@import 'partials/media_query'

body
  font-family: $font
  overflow-x: hidden


::-webkit-scrollbar
  width: 0px
