- var title = 'What Is Lean TV'
-
  var nav =
  [
    'Lectures',
    'Shorts',
    'Features',
    'Wiki'
  ]

-
  var categories = {
    lectures: [
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', thumbnail: ''},
    ],
    shorts: [
      {title: 'Blah Joe', desc: 'fjdshgsdjfgjsfdgj', thumbnail: ''},
      {title: 'Test'},
    ]
  }
