- var title = 'LeanTV'
- var link = 'whatisleantv.github.io'
- var guide_name = 'Lean Channel Guide'
-
  var nav =
 [
   '01-One',
   '02-TED',
   '03-Sci-Fi',
   '04',
   '05',
   '06',
   '07',
   '08',
   '09'
 ]

- var indev = false
