-
  var title = 'What Is Lean TV'

  var nav =
  [
    'Lectures',
    'Shorts',
    'Features',
    'Wiki'
  ]

  var categories = {
    lectures: [
      {title: 'John Nance', desc: 'dsafdfdsszdaGdszgdfdtdsdtgdshydretherdtrednhfvhngfdtgstgrtdstgs', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgjfjdshgsdjfgjsfdgjfjdshgsdjfgjsfdgjfjdshgsdjfgjsfdgjfjdshgsdjfgjsfdgjfjdshgsdjfgjsfdgjfjdshgsdjfgjsfdgjfjdshgsdjfgjsfdgjfjdshgsdjfgjsfdgjfjdshgsdjfgjsfdgjfjdshgsdjfgjsfdgjfjdshgsdjfgjsfdgjfjdshgsdjfgjsfdgjfjdshgsdjfgjsfdgjfjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
    ],
    shorts: [
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
      {title: 'John Nance', desc: 'fjdshgsdjfgjsfdgj', url: 'john-nance.html', thumbnail: ''},
    ]
  }
