- var title = 'LeanTV'
- var link = 'whatisleantv.github.io'
- var guide_name = 'Lean Channel Guide'
-
  var nav =
 [
   '01-One',
   '02-TED',
   '03-Sci-Fi',
   '04',
   '05',
   '06',
   '07',
   '08',
   '09'
 ]

-
  var channel =
  {
    one: 'https://www.youtube.com/embed/videoseries?list=PLIKDYHqLM_Me25k_WOCuEpsYZeqOTY5Ej',
    ted: 'https://www.youtube.com/embed/videoseries?list=PLIKDYHqLM_McsSUMfjkcRcSG3HebRgZeL',
    sci_fi: 'https://www.youtube.com/embed/videoseries?list=PLIKDYHqLM_MdOIiuF1S_bHYOBG0A5Db7l'
  }

- var indev = false
