- var title = 'What Is Lean TV'

-
  var nav =
  [
    'Lectures',
    'Shorts',
    'Features',
    'Wiki'
  ]

-
  var categories = {
    lectures: [
      {
        title: 'Test'
      },
      {
        title: 'Test'
      }
    ]
  }
