include config.pug
block vars

html(lang='en')
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    if index
      link(rel='stylesheet', href='css/style.css')
    else
      link(rel='stylesheet', href='../css/style.css')

    meta(name='viewport' content='width=device-width, initial-scale=1')
    title whatisleantv
    include analytics.pug
  body
    p#title=title
    #about
      include ../../about.html
    main
      iframe(src!=playlist + '&autoplay=1' allowfullscreen='')
      p#guide_text=guide_name
      include ../../img/menu.svg
      nav
        ul
          if index
            each item in nav
              li: a(href='channel/' + item.toLowerCase().split(' ').join('-'))=item
          else
            each item in nav
              li: a(href='../channel/' + item.toLowerCase().split(' ').join('-'))=item

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    if index
      script(src='js/menu.js')
    else
      script(src='../js/menu.js')
