include config.jade
- var idStr = ''
each video in videos
  - idStr += video + ','
- idStr = idStr.slice(videos[0].length+1, idStr.length-1)
html
  head
    title Dad's Custom Playlist
    style body{margin:0} iframe{border:0}
  body: <iframe width="560" height="315" src="http://www.youtube.com/embed/#{videos[0]}?rel=0&showinfo=1&playlist=#{idStr}" allowfullscreen></iframe>
