block vars
include ../includes/config.pug
include ../includes/logic.pug
html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href=path + 'css/channel.css', rel='stylesheet')
  body
    include ../sections/header.pug
    main
      iframe(src=playlistId + '&autoplay=1')
