block vars
include ../includes/config.pug
include ../includes/logic.pug
doctype html
html(lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href=path + 'css/channel.css', rel='stylesheet')
    title whatisleantv
    include ../includes/analytics.pug
  body
    include ../sections/header.pug
    main
      iframe(src=playlistId + '&autoplay=1')
