include config.jade
block vars

- var idStr = ''
each video in videos
  - idStr += video + ','
- idStr = idStr.slice(videos[0].length+1, idStr.length-1)

html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/style.css')
    title whatisleantv
    include analytics.jade
  body
    p.meta#title=title
    p.meta#link=link
    main
      iframe(src='https://www.youtube.com/embed/videoseries?list=#{playlist}' allowfullscreen='')
      p=guide_name
      include ../../img/menu.svg
      nav: ul
        each item in nav
          li: a(href='../channel/' + item.toLowerCase().split(' ').join('-'))=item
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='/js/menu.min.js')
