include config.jade
block vars

html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/style.css')
    title whatisleantv
    include analytics.jade
  body
    p.meta#title=title
    p.meta#link=link
    main
      iframe(src=playlist allowfullscreen='')
      #blurb
      p=guide_name
      include ../../img/menu.svg
      nav: ul
        if indev
          each item in nav
            li: a(href='../channel/' + item.toLowerCase().split(' ').join('-') + '.html')=item
        else
          each item in nav
            li: a(href='../channel/' + item.toLowerCase().split(' ').join('-'))=item

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='/js/menu.min.js')
