*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  height: 100vh - (2 * #{$size})
  background: contrast($theme)
  padding: $size
  top: 0
  overflow: hidden
  font-family: 'Roboto'

%meta
  position: absolute
  bottom: 33px
  color: $theme
  font-size: (2/3)*$size
  cursor: pointer
  z-index: 10

#title
  @extend %meta


main
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  width: calc(100vw - #{$size*2})
  border-radius: (floor($size/2))

#guide_text
  @extend %meta
  right: 4.2em

iframe
  transition: 0.7s transform ease-in-out
  border: 0
  width: $video-scale
  height: $video-scale
  position: absolute
  &.squish
    transform: scale($squish-factor/100) translateX(#{-$video-scale/4})
