*
  box-sizing: border-box
  margin: 0
  padding: 0

header
  display: flex
  background: $main
  font-size: $scale
  box-shadow: 10px 10px 3px #D6D6D6
  padding: .5em 0

  svg
    width: 3em
    height: auto
    margin: 0 2.5em
    fill: contrast($main)
    display: flex
    justify-content: center
  h1, h2
    color: contrast($main)
    font-weight: 400
    align-items: center
    display: inline-flex

  h2
    margin-left: 1em
    color: mix(contrast($main), black, 50%)
