svg
  position: absolute
  bottom: 33px
  right: 30px
  transform: scaleY(-1)
  width: $size
  height: $size
  fill: $theme
  cursor: pointer
nav
  .visible
    pointer-events: all
    opacity: 1
    bottom: 4.75em
  ul
    display: flex
    position: absolute
    right: 30px
    bottom: 2em
    color: $theme
    opacity: 0
    overflow-y: auto
    pointer-events: none
    list-style: none
    transition: 0.7s all ease-in-out
    max-height: 70vh
    flex: 1
      direction: column

  a
    text-align: left
    font-size: $size*.75
    display: block
    padding: .5em
    text-decoration: none
    color: $theme
    &:hover
      background: mix(#000, $theme, 62)
