@media(max-width 1280px)
  main
    margin-left 2%

    .item
      width 30vw
      height 16.875vw
  //

@media(max-width 1000px)
  main
    margin-left 1%

    .item
      width 47vw
      height  26.4vw


@media(max-width 870px)
  h1
    font-size 1.8em

  main .item
    width 96vw
    height 54vw

  nav a
    margin 0 .3em


  header
    flex-wrap wrap
    align-items center

  header, ul
    flex-direction column

  nav
    margin-left 3.5em
    margin-top .7em

  nav li
    justify-content center
