nav
  margin-left auto
  display flex
  ul
    margin-right 2.5em
    list-style none
    display flex

  li
    display flex
    align-items stretch
  a
    color contrast($main)
    font-size 1.2em
    margin 0 .75em
    text-decoration none
    display flex
    align-items center
