extends ../includes/layout.jade

block vars
  -
    var videos = [
    'ESDOJc1APAk', //- sjhdkshkdsgbds
    'ESDOJc1APAk', //- sjhdkshkdsgbds
    'ESDOJc1APAk', //- sjhdkshkdsgbds
    'ESDOJc1APAk', //- sjhdkshkdsgbds
    'ESDOJc1APAk', //- sjhdkshkdsgbds
    'ESDOJc1APAk', //- sjhdkshkdsgbds
    'ESDOJc1APAk', //- sjhdkshkdsgbds
    'ESDOJc1APAk', //- sjhdkshkdsgbds
    'ESDOJc1APAk', //- sjhdkshkdsgbds
    ]
