extends ../includes/layout.jade

block vars
  -
    var videos = [
    '3oCJuljDhXA', //- John Nance at Medline's Prevention Above All 2010 PART 1 of 7
    'NLTaVEOce-s', //- John Nance at Medline's Prevention Above All 2010 PART 2 of 7
    'IrPza-ebOUM', //- John Nance at Medline's Prevention Above All 2010 PART 3 of 7
    'Iw4CaAPW9_c', //- John Nance at Medline's Prevention Above All 2010 PART 4 of 7
    'Az0kg8bsYhg', //- John Nance at Medline's Prevention Above All 2010 PART 5 of 7
    '79lIwhrt_EA', //- John Nance at Medline's Prevention Above All 2010 PART 6 of 7
    'ZRzqmJ3QlX4', //- John Nance at Medline's Prevention Above All 2010 PART 7 of 7
    ]
